.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    border: solid rgb(30, 154, 255);
    border-radius: 9px;
    padding: 20px;
    background-color: rgb(231, 231, 231);
    box-shadow: 2 2 2;
  }
   
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   
  .backToHome {
    margin: 3rem 0 0;
  }