html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
 
* {
  box-sizing: border-box;
}
 
a {
  color: #0070f3;
  text-decoration: none;
}
 
a:hover {
  text-decoration: underline;
}
 
img {
  max-width: 100%;
  display: block;
  border: 4px solid rgb(163, 241, 255);
  border-radius: 10px;
}

.postimage{
  border: 3px solid rgb(0, 0, 0);
  border-radius: 7px;
}

.postborder {
  border: 2px solid rgb(45, 160, 255);
  padding: 15px;
  border-radius: 10px;
}
